[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord-py = "*"
gino = "*"
alembic = "*"
aiohttp = "*"
fuzzywuzzy = {extras = ["speedup"],version = "*"}
async-nookipedia = "*"
psycopg2-binary = "*"
